<html>
  <head>
    <title>Admin Index Page</title>
  </head>

  <body>
    <h1>Admin Index Page</h1>
    <p>You can do all sorts of stuff from here!</a>
    <a href='{{url_for('admin_site.admin_detail', some_id=37)}}'>Detail for 37</a>
  </body>
</html>
