<html>
  <head>
    <title>Main Detail Page</title>
  </head>

  <body>
    <h1>Main Site Details for {{some_id}}</h1>
    <a href='{{url_for('main_site.main_index')}}'>back to index</a>
  </body>
</html>
